<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-info">Formulario de registro</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :name, 'Nombre' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Correo electrónico' %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bio, 'Biografía' %><br />
        <%= f.text_area :bio, autocomplete: "bio", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Registrarse", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


