<%= @user.email %>

<%= link_to 'Like', interactions_path(user_two_id: @user.id, like: true), method: :post %>
<%= link_to 'Dislike', interactions_path(user_two_id: @user.id, like: false), method: :post %>